---
extends: default  # Base rule set

rules:
  indentation:
    spaces: 2
    indent-sequences: true
    level: warning

  line-length:
    max: 200
    level: warning

  trailing-spaces:
    level: error

  new-line-at-end-of-file:
    level: error

  truthy:
    level: warning

  document-start:
    level: warning

  key-duplicates:
    level: error

  braces:
    level: warning

  ignore: |
    .github/workflows/codescan.yml
